#root {
    cursor: default;
}

.Track {
    min-height: 100px;
    display: flex;
    gap: 1rem;
    align-items: center;

    border-bottom: 1px solid rgb(56, 56, 56);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-top: 0;
    transition: 0.1s ease;

    &:hover {
        border-bottom: none;
        background-color: rgb(56, 56, 56);
        border-radius: 3px;

        .media-action {
            opacity: 1;
        }
    }

    img {
        margin-top: 9px;
        width: 65px;
        height: 65px;

        border-radius: 3px;
    }
}

.Track-action {
    margin-top: 9px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;

    transition: 0.1s ease;
}

.Track-action:hover {
    color: rgb(215, 215, 215);
}

.Track-action:active {
    color: rgb(134, 134, 134);
}

.Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
}

.Track-information h3 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
}

.Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}

.track-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .media-action {
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        color: #20d760bf;
        border: none;
        opacity: 0;

        margin-top: 15px;
        text-shadow: 0px 0px 10px black;
        cursor: pointer;
        transition: 0.3s ease;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));

        &:hover {
            color: #20d760;
        }

        &:active {
            color: #0e5627;
        }
    }
}