.SearchBar {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2.22rem;

    input {
        width: 287px;
        height: 40px;
        border: none;
        border-radius: 7px;
        color: #010c3f;
        text-align: center;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s ease;

        &:focus {
            outline: none;
            background-color: #e6ffef;
            color: #001608;
            box-shadow: 0px 0px 10px #1db95436;
        }
    }

    .SearchButton {
        cursor: pointer;
        width: 130px;
        height: 42px;
        border-radius: 7px;
        background-color: #1DB954;
        border: 2px solid white;
        text-align: center;
        font-size: .833rem;
        font-family: 'Poppins', sans-serif;
        transition: 0.2s ease;
        color: #fff;
        font-weight: 500;

        &:hover {
            background-color: #116b33;
        }

        &:active {
            background-color: #010703;
        }
    }
}

@media screen and (max-width: 1050px) {
    .SearchBar {
        width: 500px;
    }
}